@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
header .container > .navbar-brand {
  font-family: 'Berkshire Swash', cursive;
  font-size: 30px;
  color: white; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
main .carousel {
  max-width: 800px; }

main .container .row .col .card:hover {
  transform: scale(1.05); }

div div p {
  font-size: 1.5rem; }
