@import "./variables";
@import "./reset";
@import "./header";


main{
    .carousel{
        max-width: 800px;
    }
    .container{
        .row{
            .col{
                .card{
                    &:hover{
                        transform: scale(1.05);
                    }
                }                                
                }
            }
        }
    }
    div{
        div{p{
        font-size: 1.5rem;

            }
        }
    }
.bg-white{
    height: 10vh;
}